// Icons adjustments

@mixin sila-icon {
  font-family: 'sila-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$sila-icon-arrow-left: "\e916";
$sila-icon-arrow-right: "\e914";

.sila-icon {
  @include sila-icon;
  &.sila:before {
    content: "\e902";
  }
  &.home:before {
    content: "\e904";
  }
  &.sad-cloud:before {
    content: "\e90b";
  }
  &.filter:before {
    content: "\e918";
  }
  &.expanded:before {
    content: "\e909";
  }
  &.collapsed:before {
    content: "\e90a";
  }
  &.check:before {
    content: "\e90c";
  }
  &.individual:before {
    content: "\e90d";
  }
  &.business:before {
    content: "\e90e";
  }
  &.apps:before {
    content: "\e90f";
  }
  &.developer:before {
    content: "\e910";
  }
  &.support:before {
    content: "\e911";
  }
  &.docs:before {
    content: "\e912";
  }
  &.arrow-up:before {
    content: "\e913";
  }
  &.arrow-right:before {
    content: $sila-icon-arrow-right;
  }
  &.arrow-down:before {
    content: "\e915";
  }
  &.arrow-left:before {
    content: $sila-icon-arrow-left;
  }
  &.close:before {
    content: "\e917";
  }
  &.settings:before {
    content: "\e919";
  }
  &.info:before {
    content: "\e901";
  }
  &.long-arrow-up:before {
    content: "\e900";
  }
  &.long-arrow-right:before {
    content: "\e91a";
  }
  &.long-arrow-down:before {
    content: "\e91b";
  }
  &.long-arrow-left:before {
    content: "\e91c";
  }
  &.comment:before {
    content: "\e906";
  }
  &.disabled-checked:before {
    content: "\e903";
  }
  &.enable-task:before {
    content: "\e907";
  }
  &.disable-task:before {
    content: "\e908";
  }
}
