// Button adjustments

.btn {

  // all buttons
  &:not(.dropdown-toggle):not(.btn-link) {
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-family: $font-family-accent;
    font-size: $font-size-sm;
  }

  // dropdown toggle
  &.dropdown-toggle {
    border-radius: $input-border-radius;
  }

  // not disabled
  &:not(.disabled),
  &:not(:disabled) {

    // Link
    &.btn-link {

      // change color on hover
      &.hover {

        &:hover,
        &:active,
        &.active {
          color: $primary !important;
        }
      }
    }

    // Back & Next
    &.back,
    &.next {

      &::before,
      &::after {
        @include sila-icon;
        display: inline-block;
        vertical-align: baseline;
      }
    }

    &.back::before {
      content: $sila-icon-arrow-left;
      margin-right: 0.5rem;
    }

    &.next::after {
      content: $sila-icon-arrow-right;
      margin-left: 0.5rem;
    }

    // Primary
    &.btn-primary {
      &:hover {
        background: $primary-hover;
        border-color: $primary-hover;
      }

      &:active {
        background: $success;
        border-color: $success;
      }
    }

    // Secondary
    &.btn-secondary {
      background: $primary-accent;
      border-color: $border-color;
      color: $body-color;

      &:hover {
        background: $primary;
        border-color: $primary;
        color: $white;
      }
    }

    // Warning
    &.btn-warning {
      color: $white;
    }

    // Light outline
    &.btn-outline-light {
      background: $white;
      border-color: $border-color;

      &:not(.dropdown-toggle) {
        color: $primary;

        &:hover {
          background: $primary-accent;
          color: $body-color;
          border-color: $border-color;
        }
      }

      &.dropdown-toggle {
        color: $info;

        &:hover,
        .show & {
          color: $body-color;
        }
      }

      &:active {
        border: 1px solid $gray-medium;
        color: $primary;
        box-shadow: none;
      }
    }

    // Secondary outline
    &.btn-outline-secondary {
      color: $body-color;

      &:hover {
        color: $body-color;
      }
    }

    // Primary outline - pill
    &.btn-outline-primary {
      background: $white;

      &:hover,
      &:active {
        background: $primary-accent;
        color: $primary;
      }

      &.pill {
        border-radius: 20px;
      }
    }

    // Checkbox and radio buttons
    &.custom-checkbox,
    &.custom-radio {
      .custom-control-label {
        width: 1rem;
        margin-left: 0.5rem;

        &::before,
        &::after {
          left: 0;
        }
      }
    }

  }

  // disabled
  &.disabled:not(.btn-link),
  &:disabled:not(.btn-link),
  &.disabled:not(.btn-link):hover,
  &:disabled:not(.btn-link):hover {
    background: $white;
    border: 1px solid $gray-medium;
    color: $info;

    &.btn-link {
      border: 0 !important;
    }
  }

}
