// Card adjustments

// Card border & shadow
.card {
  border-radius: $border-radius;

  // Default Card
  &:not(.border) {
    border: 0;
    box-shadow: $box-shadow;
  }

  // With Border
  &.border {
    border-color: $border-color;
    .table-bordered tbody td:first-child { border-left: 0; }
    .table-bordered tbody td:last-child { border-right: 0; }
    .table-bordered tbody tr:last-child td { border-bottom: 0; }
  }

  // Left decal
  &.decal-left {
    background-image: url("data:image/svg+xml,%3Csvg width='264' height='227' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.1'%3E%3Cpath d='m131.515 229.472 66.243-114.651L264 229.472H131.515Z' fill='%23315AFC'/%3E%3Cpath d='m131.198 230.001-.317-.529-66.243-114.651h133.12l-66.242 114.651-.318.529Z' fill='%2394AAFC'/%3E%3Cpath d='m110.246 35.178-1.164 2.115-2.857 4.971-1.27 2.115-2.857 5.077-1.27 2.115-2.857 4.972-1.27 2.115-2.857 4.97-1.164 2.116-2.963 4.971-1.164 2.116-2.962 5.076-1.164 2.116-2.858 4.97-1.27 2.116-2.857 4.971-1.27 2.115-2.856 4.972-1.27 2.115-2.857 5.077-1.164 2.115-3.387 5.817-.211.212-.106.317L-2.239-.466h133.12l-20.635 35.644Z' fill='%23315AFC'/%3E%3Cpath d='m129.611 1.755 1.27-2.115 56.19 97.305 9.735 16.817-1.693 1.058h-.106L129.611 1.755ZM125.486 8.842l1.27-2.116 62.432 108.094h-2.433L125.486 8.842ZM121.358 15.928l1.27-2.115 58.306 101.007H178.5l-57.142-98.892ZM117.337 23.017l1.164-2.116 54.285 93.921h-2.434l-53.015-91.805ZM113.21 30.204l1.164-2.115 50.158 86.728h-2.434L113.21 30.204ZM110.246 35.18l46.031 79.642h-2.433l-44.762-77.527 1.164-2.116ZM106.225 42.264l41.904 72.555h-2.433l-40.741-70.44 1.27-2.115ZM102.099 49.458l37.777 65.363h-2.433l-36.614-63.248 1.27-2.115ZM97.972 56.542l33.65 58.277h-2.434L96.702 58.657l1.27-2.115ZM93.846 63.628l29.523 51.191h-2.434L92.682 65.743l1.164-2.115ZM89.718 70.715l25.502 44.104h-2.434l-24.232-41.99 1.164-2.114ZM85.591 77.906l21.376 36.913h-2.434L84.427 80.022l1.164-2.116ZM81.571 84.993l17.143 29.826H96.28l-15.979-27.71 1.27-2.116ZM77.444 92.08l13.12 22.739h-2.433L76.174 94.194l1.27-2.115ZM73.317 99.17l8.994 15.653h-2.434l-7.83-13.538 1.27-2.115ZM69.19 106.357l4.867 8.462h-2.434l-3.598-6.346 1.164-2.116Z' fill='%2300C9C2'/%3E%3C/g%3E%3C/svg%3E");
    background-position: top left;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  // Middle Decal
  &.decal-middle {
    background-image: url("data:image/svg+xml,%3Csvg width='130' height='227' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.2'%3E%3Cpath d='m129.852 113.638 32.786 56.04v.051l-.366.207h-.68l-32.316-55.315.576-.983ZM158.468 169.936h-1.195l-30.081-52.131.571-1.039 30.705 53.17ZM155.34 168.894h-1.19l-28.001-47.974.621-1.026 28.57 49ZM151.17 169.936h-1.187l-25.919-44.839.62-1.033 26.486 45.872ZM147 169.936h-1.184l-23.837-41.703.618-1.041L147 169.936ZM142.83 168.894h-1.232l-21.705-37.552.565-1.023 22.372 38.575ZM138.66 169.936h-1.176l-19.675-34.413.562-1.034 20.289 35.447ZM134.489 169.936h-1.169l-17.597-31.275.56-1.044 18.206 32.319ZM130.319 168.894h-1.162l-15.519-27.129.607-1.02 16.074 28.149ZM127.191 169.936h-1.231l-14.407-23.987.643-1.034 14.995 25.021ZM110.111 148.042l12.91 21.894h-1.232l-12.321-20.843.643-1.051ZM65.681 226.234h64.638l-32.242 56.091v.207l-32.396-56.298Z' fill='%2394AAFC'/%3E%3Cpath d='m130.215 225.976-32.632-56.04 32.736 56.195-.104.103h-65.42l-.157-.258h65.577Z' fill='%237FFDF5'/%3E%3Cpath d='M165.766 0v57.053h-2.181l-.26-.468-.104.26L130.66.468 97.995 57.053l32.665 56.585H65.33L31.523 55.026 0 .468h65.33L165.766 0ZM64.638 225.191l32.684-56.039.157-.258.156.258 32.684 56.039h-65.68Z' fill='%23DEE6FC'/%3E%3Cpath d='M96.957 56.298 129.798 0l32.736 56.091.104.207H96.957ZM130.319 113.638l-22.763 39.099.469-.878 10.547 18.077h-1.201l-9.92-17.044-1.462 2.427 8.563 14.617h-1.253l-7.884-13.584-1.462 2.48 6.526 11.104h-1.201l-5.899-10.071-1.41 2.427 4.438 7.644h-1.201l-3.864-6.611-1.41 2.428 2.402 4.183h-1.2l-1.828-3.15-1.827 3.15-32.84-56.298h65.68Z' fill='%2394AAFC'/%3E%3Cpath d='m63.596 222.079 30.095-52.143h1.182l-30.712 53.17-.565-1.027ZM61.51 218.945l28.016-49.009h1.176l-28.629 50.043-.562-1.034ZM59.986 216.851l-.56-1.041 25.934-45.874h1.172l-26.546 46.915ZM56.932 212.681l-.634-1.025 24.848-41.72h1.216l-25.43 42.745ZM54.845 209.553l-.632-1.034 22.714-38.583h1.264l-23.346 39.617ZM52.76 206.426l-.632-1.044 20.683-35.446h1.21l-21.262 36.49ZM51.664 202.255l-.579-1.022 18.597-31.297h1.212l-19.23 32.319ZM49.579 199.128 49 198.094l16.514-28.158h1.21l-17.145 29.192ZM47.49 196l-.575-1.049 14.435-25.015h1.203L47.49 196ZM45.455 191.83l-.625-1.018 12.354-20.876h1.199L45.455 191.83ZM43.367 188.702l-.622-1.034 10.274-17.732h1.194l-10.846 18.766ZM41.275 185.575l-.615-1.061 8.203-14.578h1.18l-8.768 15.639ZM39.136 181.404l-.561-1.006 6.124-10.462h1.174l-6.737 11.468ZM38.083 178.277l-.551-1.036 4.06-7.305h1.153l-4.662 8.341ZM35.976 175.149l-.529-1.109 2.021-4.104h1.107l-2.599 5.213ZM33.825 170.979l-.463-.802.154-.241h.888l-.579 1.043Z' fill='%237FFDF5'/%3E%3C/g%3E%3C/svg%3E");
    background-position: top right;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  // Right Decal
  &.decal-right {
    background-image: url("data:image/svg+xml,%3Csvg width='260' height='227' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.1'%3E%3Cpath d='M132.485 229.472 66.242 114.821 0 229.472h132.485Z' fill='%23315AFC'/%3E%3Cpath d='m132.802 230.001.317-.529 66.242-114.651H66.241l66.243 114.651.318.529Z' fill='%2394AAFC'/%3E%3Cpath d='m153.754 35.178 1.164 2.115 2.857 4.971 1.27 2.115 2.857 5.077 1.27 2.115 2.857 4.972 1.27 2.115 2.857 4.97 1.164 2.116 2.963 4.971 1.164 2.116 2.963 5.076 1.163 2.116 2.858 4.97 1.269 2.116 2.858 4.971 1.269 2.115 2.857 4.972 1.27 2.115 2.857 5.077 1.164 2.115 3.387 5.817.211.212.106.317L266.239-.466h-133.12l20.635 35.644Z' fill='%23315AFC'/%3E%3Cpath d='m134.389 1.755-1.27-2.115-56.19 97.305-9.735 16.817 1.693 1.058h.106L134.389 1.755ZM138.514 8.842l-1.27-2.116L74.811 114.82h2.434L138.514 8.842ZM142.642 15.928l-1.27-2.115L83.066 114.82H85.5l57.142-98.892ZM146.663 23.017l-1.164-2.116-54.285 93.921h2.434l53.015-91.805ZM150.79 30.204l-1.164-2.115-50.158 86.728h2.434l48.888-84.613ZM153.754 35.18l-46.031 79.642h2.433l44.762-77.527-1.164-2.116ZM157.775 42.264l-41.904 72.555h2.433l40.741-70.44-1.27-2.115ZM161.901 49.458l-37.777 65.363h2.433l36.614-63.248-1.27-2.115ZM166.028 56.542l-33.65 58.277h2.434l32.486-56.162-1.27-2.115ZM170.154 63.628l-29.523 51.191h2.434l28.253-49.076-1.164-2.115ZM174.282 70.715l-25.502 44.104h2.434l24.232-41.99-1.164-2.114ZM178.409 77.906l-21.376 36.913h2.434l20.106-34.797-1.164-2.116ZM182.429 84.993l-17.143 29.826h2.434l15.979-27.71-1.27-2.116ZM186.556 92.08l-13.121 22.739h2.434l11.957-20.625-1.27-2.115ZM190.684 99.17l-8.995 15.653h2.434l7.83-13.538-1.269-2.115ZM194.811 106.357l-4.868 8.462h2.434l3.598-6.346-1.164-2.116Z' fill='%2300C9C2'/%3E%3C/g%3E%3C/svg%3E");
    background-position: top right;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

// Header font size
.card-header {
  border-color: $border-color;
  font-size: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $card-headings-font-weight;
  }

  h2 {
    font-size: $card-headings-font-size;
    font-weight: 600
  }
}


// Body padding adjustments
.card-body {
  padding-left: $btn-padding-x;
  padding-right: $btn-padding-x;
}

// Group adjustments
@include media-breakpoint-up(sm) {
  .card-group>.card+.card {
    border-left: 0 !important;
  }
}
