// Fonts

@font-face {
    font-family: 'sila-icons';
    src:  url('../fonts/sila-icons.eot?v=08022022');
    src:  url('../fonts/sila-icons.eot?v=08022022#iefix') format('embedded-opentype'),
      url('../fonts/sila-icons.ttf?v=08022022') format('truetype'),
      url('../fonts/sila-icons.woff?v=08022022') format('woff'),
      url('../fonts/sila-icons.svg?v=08022022#sila-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }