// Modal Adjustments

.modal {
  &-header {
    .close {
      @include sila-icon;
      @extend .sila-icon.close;
      margin: 1rem 0 0 0;
      padding: 0;
      line-height: 0;

      [aria-hidden] {
        display: none;
      }
    }
  }

  &-content {
    box-shadow: 0 0 8px 0 rgba($black, 0.04);
  }

  &-backdrop {
    background: $body-color;

    &.show {
      opacity: 0.83;
    }
  }

  +.tooltip {
    z-index: 1051;
  }
}

.modal-backdrop {
  background: rgba(51, 51, 51, 0.6);

  &.show {
    opacity: 1;
  }
}

@include media-breakpoint-up(sm) {
  .modal-header {
    padding: 2rem;
  }

  .modal-body {
    padding: 2rem;
  }

  .modal-footer {
    padding: 2rem;
  }
}