// Bootstrap Overrides

// Grays colors
$white: #fff !default;
$gray-light: #F3F3F3 !default;
$gray-medium: #B4BAC7 !default;
$black: #000 !default;
$gray-100: $gray-light;

// Theme colors
$primary: #0030FC !default;
$primary-hover: #315AFC !default;
$primary-light: #F7FAFC !default;
$primary-dark: #00146B !default;
$primary-accent: #DEE6FC !default;
$secondary: #D5DADF !default;
$warning: #FC8A00 !default;
$warning-dark: #E87500 !default;
$warning-accent: #FCEDDE !default;
$danger: #CC4900 !default;
$danger-accent: #FCF9F7 !default;
$success: #00C9C2 !default;
$success-accent: #EDFCFB !default;
$success-dark: #009691 !default;
$info: #6C7792 !default;
$caution: #F2C10F !default;

// Misc colors
$border-color: $secondary;
$body-background-color: $white;
$info-background-color: #F8F9F9;

// Border radius
$border-radius: 0.75rem !default;
$border-radius-lg: $border-radius !default;
$border-radius-sm: 0.188rem !default;

// Easings
$ease-in-out-circ: cubic-bezier(.27, .01, .38, 1.06);

// Transitions
$transition-duration: 250ms;
$transition-base: all $transition-duration $ease-in-out-circ !default;
$transition-fade: opacity 200ms ease-in-out !default;
$transition-collapse: height 350ms ease-in-out !default;

// Light
$light: $white;

// Cards
$card-cap-bg: $white;

// Typography & Fonts
$font-family-accent: "Poppins", sans-serif;
$font-family-base: "Inter", sans-serif;

// Disable Google Fonts imports
$enable-fonts-import: false;

// Use the System UI font instead of Poppins.
$font-family-poppins-first: $font-family-base;

// Headers
$headings-color: $primary-dark;

// Body
$body-background: $body-background-color;
$body-color: $primary-dark;
$body-font-size: 0.875rem;

$font-size-xs: 0.625rem;
$font-size-sm: 0.75rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.313rem;
$font-size-xxl: 1.5rem;
$font-size-xxxl: 2rem;

// Buttons
$btn-font-size: $body-font-size;
$btn-font-weight: 700;
$btn-border-radius: $border-radius;
$btn-padding-y: 0.9375rem;
$btn-padding-x: 1.875rem;
$btn-disabled-opacity: .54;
$btn-link-disabled-color: $info;

$btn-font-size-sm: $font-size-sm;
$btn-padding-y-sm: 0.4286rem;
$btn-padding-x-sm: 0.875rem;
$btn-border-radius-sm: $border-radius-sm;

// Inputs
$input-color: $body-color;
$input-border-color: $border-color;
$input-btn-padding-y: 0.4375rem;
$input-btn-padding-x: 0.75rem;
$input-btn-padding-y-sm: 0.4375rem;
$input-btn-padding-x-sm: 0.75rem;
$input-group-padding-y: 0.75rem;
$input-group-padding-x: 0.625rem;

// Forms
$input-font-size: $body-font-size;
$input-font-size-lg: $input-font-size;
$input-padding-y: 0.9375rem;
$input-padding-x: 0.9375rem;
$input-padding-y-lg: $input-padding-y;
$input-padding-x-lg: $input-padding-x;

$custom-select-line-height: 1.5;

$input-padding-x-sm: 0.625rem;

$input-border-radius: $border-radius-sm;
$input-border-radius-sm: $border-radius-sm;
$input-border-radius-lg: $border-radius;
$input-focus-border-color: $primary;
$input-focus-box-shadow: none;

$custom-select-border-radius: $border-radius-sm;

$custom-file-border-radius: $border-radius-sm;

// Navs
$nav-link-padding-x: 0.625rem;

// Navbar brand
$navbar-brand-font-size: 0.9rem;

// Dropdowns
$dropdown-padding-y: 10px;
