// Loader
.loader.overlay {
    background: rgba($white, 0.8);
    top: 0;
    left: 0;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
}

// Loaded
.loaded {
    @include animation(fadein, 0.5s, forwards);
  }