// Main sidebar

.main-sidebar {
  background: $main-sidebar-background;

  .response-header {
    background: $main-sidebar-background;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .response-results {
    position: relative;
    z-index: 1;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .response {
    color: $gray-medium;
    padding-left: 1.5rem;
    position: relative;
    @include transition(opacity .2s);

    .endpoint {
      margin-left: -1.5rem;
    }

    &.new {
      &::before {
        background: rgba($success, 0.2);
        content: "";
        @include animation(fadein, 0.5s, forwards);
        @include animation(fadeout, 1.5s, forwards);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &:not(:first-child) {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1;
    }

    pre {
      font-family: $font-family-base;
    }
  }
}

.tip-container {
  background: $main-sidebar-background;
  overflow: hidden;
}

@include media-breakpoint-up(sm) {
  .main-sidebar {
    top: $main-navbar-height;
    right: 0;
    position: fixed;
    z-index: 2;
    height: calc(100vh - #{$main-navbar-height} - #{$main-navbar-tip-height} - 1px);
  }

  .tip-container {
    position: fixed;
    height: $main-navbar-tip-height;
    bottom: 0px;
    right: 0px;
  }
}

@include media-breakpoint-down(md) {
  .tip-container {
    p {
      font-size: $font-size-sm;
    }
  }
}