// RegisterUser view

//SMS Notifications
.sms-notifications{
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 22px;
  letter-spacing: 0.03em;
  span{
    color: $primary;
  }
}

//new-registration
.new-registration{
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}
