// Main sidebar

.main-sidebar {
  background: $main-sidebar-background;

  .tip-main{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    padding: 20px 40px 0 0px;
    margin-right: 20px;
    img{
      position: relative;
      left: 15px;
    }
  }
  .carousel-control-prev{
    left: -10px;
    width: 9px;
  }
  .carousel-control-next{
    right: -10px;
    width: 9px;
  }
  .carousel-control-prev-icon {
    background-image: url(../../images/arrow_left.svg);
  }
  .carousel-control-next-icon {
    background-image: url(../../images/arrow_right.svg);
  }
  .response-header {
    background: $main-sidebar-background;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .response-results {
    position: relative;
    z-index: 1;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &.scroll{
      height: 61vh;
      overflow-y: auto;
    }
  }
  .tip-container{
    position: relative;
    height: 185px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    h1{
      font-family: $font-family-base;
      margin-top: 30px;
      color: $gray-darker;
      font-weight: bold;
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 0.03em;
    }
    .helpful-tips{
      color:$gray-medium;
      font-family: $font-family-base;
      text-align: left;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      padding: 10px 40px 0 0px;
    }
    .carousel-caption{
      bottom: 0px;
      left: 20px;
      p{
        color:$gray-medium;
        font-family: $font-family-base;
        text-align: left;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        padding: 0 10px;
      }
    }
  }

  .response {
    color: $gray-medium;
    padding-left: 1.5rem;
    position: relative;
    @include transition(opacity .2s);

    .endpoint {
      cursor: pointer;
      &::before {
        content: "\f13a";
        @include fas-icon;
        color: $gray-medium;
        font-weight: bold;
        display: block;
        width: 1em;
        margin-left: -1.5rem;
        float: left;
        margin-top: 4px;
      }
    }

    &.new {
      &::before {
        background: rgba($success, 0.2);
        content: "";
        @include animation(fadein, 0.5s, forwards);
        @include animation(fadeout, 1.5s, forwards);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &.open {
      .endpoint::before {
        content: "\f139";
        color: $primary;
      }
    }

    &:not(:first-child) {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1;
    }

    pre {
      font-family: $font-family-base;
    }
  }
}

@include media-breakpoint-up(sm) {
  .main-sidebar {
    top: $main-navbar-height;
    right: 0;
    position: fixed;
    z-index: 2;
    height: calc(100vh - #{$main-navbar-height} - 1px);
  }
}