// Main sidebar

.main-sidebar {
  background: $main-sidebar-background;

  .response-header {
    background: $main-sidebar-background;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .response-results {
    position: relative;
    z-index: 1;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .response {
    color: $gray-medium;
    padding-left: 1.5rem;
    position: relative;
    @include transition(opacity .2s);

    .endpoint {
      cursor: pointer;
      &::before {
        content: "\f13a";
        @include fas-icon;
        color: $gray-medium;
        font-weight: bold;
        display: block;
        width: 1em;
        margin-left: -1.5rem;
        float: left;
        margin-top: 4px;
      }
    }

    &.new {
      &::before {
        background: rgba($success, 0.2);
        content: "";
        @include animation(fadein, 0.5s, forwards);
        @include animation(fadeout, 1.5s, forwards);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &.open {
      .endpoint::before {
        content: "\f139";
        color: $primary;
      }
    }

    &:not(:first-child) {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1;
    }

    pre {
      font-family: $font-family-base;
    }
  }
}

@include media-breakpoint-up(sm) {
  .main-sidebar {
    top: $main-navbar-height;
    right: 0;
    position: fixed;
    z-index: 2;
    height: calc(100vh - #{$main-navbar-height} - 1px);
  }
}