// Transaction view

.transact {

  .destination-typeahead {
    .close {
      position: absolute;
      top: $input-padding-y;
      right: $input-padding-x;
      z-index: 5;
    }
  }

  @include media-breakpoint-up(md) {
    input[name="transfer"] {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    input[name="destination"] {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }

}