$no-repeat:no-repeat;
$borderNone: none;
$backgroundTransparent: transparent;
.accordion > .card:not(:last-of-type){
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.registered-data{
  th:first-child{
    width: 35%;
  }
  th:last-child{
    width: 15%;
  }
  .collapse{
    .accordion-icon{
      background-image: url(../images/accordion_plus.svg);
      height: 26px;
      width: 26px;
      border: $borderNone;
      background-color: $backgroundTransparent;
      background-repeat:$no-repeat;
    }
  }
  .expand{
    .accordion-icon{
      background-image: url(../images/accordion_minus.svg);
      background-repeat:$no-repeat;
      height: 4px;
      width: 26px;
      border: $borderNone;
      background-color: $backgroundTransparent;
    }
  }
}
.accounts{
  .table thead th{
    color: $gray-dark;
    font-weight: 600;
    letter-spacing: 0.005em;
  }
  th:first-child, td:first-child{
    width: 12%;
  }
  th:nth-last-child(2){
    width: 15%;
  }
  th:nth-child(2), td:nth-child(2){
    width: 25%;
    min-width: 180px;
  }
  th:last-child{
    width: 15%;
  }
}
