// Button adjustments

.btn {

  // disabled
  &:disabled {
    cursor: default !important;
    background: $white !important;
    color: $text-light-color !important;
    i {
      color: $gray-almost-white !important;
    }
    &:not(.btn-link) {
      border-color: $gray-almost-white !important;
    }
  }

  &:not(:disabled) {

    // Primary
    &[class*="btn-primary"] {
      &:hover {
        background: $primary-hover;
        border-color: $primary-hover;
      }
    }

    // Secondary
    &[class*="btn-secondary"] {
      background: $border-color-light;
      border-color: darken($border-color-light, 10%);
      color: $gray-medium;
      &:hover {
        background: $gray-medium;
        border-color: $gray-medium;
        color: $white;
      }
    }

    // Light outline
    &[class*="btn-outline-light"] {
      background: $white;
      border-color: $gray-almost-white;
      color: $text-light-color;
      &:hover {
        color: $text-light-color;
        border-color: $white;
        box-shadow: 0 1px 12px rgba($black, .12);
      }
      &.important {
        color: $body-color;
      }
    }

    // Secondary outline
    &[class*="btn-outline-secondary"] {
      color: $gray-medium;
      &:hover {
        color: $gray-medium;
      }
      &.important {
        color: $body-color;
      }
    }

    // Primary outline - pill
    &[class*="btn-outline-primary"] {
      background: $white;
      &:hover {
        background: #FBFCFD;
        color: $primary;
      }
      &.pill {
        border-radius: 20px;
      }
    }

    // Link
    &[class*="btn-link"] {
      i {
        color: $gray-medium;
      }
      &:hover {
        i {
          color: $primary;
        }
      }
    }

    // Dropdown toggle
    &.dropdown-toggle::after {
      margin-left: 0.5rem;
    }

    // Checkbox and radio buttons
    &.custom-checkbox,
    &.custom-radio {
      .custom-control-label {
        width: 1rem;
        margin-left: 0.5rem;
        &::before,
        &::after {
          left: 0;
        }
      }
    }
  }
}

.add-data{
  &:not(:disabled) {
    .btn-secondary{
      background-color: $white;
      border-color: $gray-light;
      color: $gray-light;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .btn{
    &:disabled {
      background: $disabled-gray !important;
      color: $text-light-color !important;
      &:not(.btn-link) {
        border-color: transparent !important;
      }
    }
  }
}
