// Button adjustments

.btn {
  font-family: $font-family-accent;
  font-size: $font-size-sm;

  // all buttons
  &:not(.dropdown-toggle) {
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }

  // disabled
  &.disabled,
  &:disabled {
    background: $white !important;
    border: 1px solid $gray-medium !important;
    color: $info !important;
    &.btn-link {
      border: 0 !important;
    }
  }

  &:not(.disabled),
  &:not(:disabled) {

    // Link
    &.btn-link {

      // change color on hover
      &.hover {
        &:hover,
        &:active,
        &.active {
          color: $primary !important;
        }
      }
    }

    // Back & Next
    &.back,
    &.next {
      &::before,
      &::after {
        @include sila-icon;
        display: inline-block;
        vertical-align: baseline;
      }
    }

    &.back::before {
      content: $sila-icon-arrow-left;
      margin-right: 0.5rem;
    }
    &.next::after {
      content: $sila-icon-arrow-right;
      margin-left: 0.5rem;
    }

    // Primary
    &[class*="btn-primary"] {
      &:hover {
        background: $primary-hover;
        border-color: $primary-hover;
      }
      &:active {
        background: $success;
        border-color: $success;
      }
    }

    // Secondary
    &[class*="btn-secondary"] {
      background: $border-color;
      border-color: darken($border-color, 10%);
      color: $body-color;
      &:hover {
        background: darken($border-color, 10%);
        border-color: darken($border-color, 10%);
      }
    }

    // Light outline
    &[class*="btn-outline-light"] {
      background: $white;
      border-color: $border-color;
      &:not(.dropdown-toggle) {
        color: $primary;
      }
      &.dropdown-toggle {
        color: $info;
      }
      &:hover {
        background: $border-color;
        color: $body-color;
        border-color: $border-color;
      }
      &:active {
        border: 1px solid $gray-medium;
        color: $primary;
        box-shadow: none;
      }
    }

    // Secondary outline
    &[class*="btn-outline-secondary"] {
      color: $body-color;
      &:hover {
        color: $body-color;
      }
    }

    // Primary outline - pill
    &[class*="btn-outline-primary"] {
      background: $white;
      &:hover,
      &:active {
        background: $primary-alt;
        color: $primary;
      }
      &.pill {
        border-radius: 20px;
      }
    }

    // Circle buttons
    &[class*="btn-circle"] {
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      padding: 0;
      border-radius: 50% !important;
    }
    
    &[class*="btn-circle"] i {
      position: relative;
      top: -1px;
    }

    &[class*="btn-circle-tiny"] {
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 0.6rem;
    }
    
    &[class*="btn-circle-sm"] {
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: $font-size-sm;
    }
    
    &[class*="btn-circle-lrg"] {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 1rem;
    }
    
    &[class*="btn-circle-xl"] {
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 1.3rem;
    }

    // Checkbox and radio buttons
    &.custom-checkbox,
    &.custom-radio {
      .custom-control-label {
        width: 1rem;
        margin-left: 0.5rem;
        &::before,
        &::after {
          left: 0;
        }
      }
    }

  }
}