// Dropdown adjustments
.dropdown-item {
  transition: background-color $transition-duration $ease-in-out-circ, color $transition-duration $ease-in-out-circ;
  color: $info;

  &:hover {
    color: $body-color;
  }

  &:active,
  &:active {

    .fas,
    &[class^="text-"] {
      transition: color $transition-duration $ease-in-out-circ;
      color: $white !important;
    }
  }
}

.dropdown-menu {
  min-width: 100%;
  padding: 10px 0;
  margin: 0 0 0;
  font-size: 1rem;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: .375rem;
  box-shadow: $box-shadow;
}

.dropdown-menu-small {
  padding: .25rem 0;

  .dropdown-item {
    padding: .375rem .875rem;
    font-size: .813rem;
  }
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  padding-left: $input-padding-x;
  padding-right: calc(19px + #{($input-padding-x * 2)}) !important;
  font-weight: 400;
  font-size: $body-font-size;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='7' viewBox='0 0 19 7' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M10.1781 6.81418L18.7195 1.09697C19.0935 0.846099 19.0935 0.439653 18.7195 0.188151C18.3456 -0.0627163 17.7381 -0.0627163 17.3642 0.188152L9.50047 5.45189L1.63679 0.188786C1.26282 -0.0620819 0.655392 -0.0620818 0.280477 0.188786C-0.0934926 0.439654 -0.0934926 0.846733 0.280477 1.0976L8.82181 6.81482C9.19191 7.06183 9.80888 7.06183 10.1781 6.81418Z' fill='%23CFD4D9' /%3E %3C/svg%3E");
    background-size: cover;
    width: 19px;
    height: 7px;
    position: absolute;
    top: 50%;
    right: $input-padding-x;
    margin-top: -4px;
    transition: $dropdown-icon-transition;
    border: none;
    will-change: transform;
    margin-left: 0;

    .dropdown.show & {
      transform: rotate(180deg);
    }
  }

  &.nav-link {
    padding-right: calc(19px + #{($input-padding-x)}) !important;

    &::after {
      right: 0;
    }
  }

  &.form-control {
    &:focus::after {
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='7' viewBox='0 0 19 7' fill='{$primary}' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M10.1781 6.81418L18.7195 1.09697C19.0935 0.846099 19.0935 0.439653 18.7195 0.188151C18.3456 -0.0627163 17.7381 -0.0627163 17.3642 0.188152L9.50047 5.45189L1.63679 0.188786C1.26282 -0.0620819 0.655392 -0.0620818 0.280477 0.188786C-0.0934926 0.439654 -0.0934926 0.846733 0.280477 1.0976L8.82181 6.81482C9.19191 7.06183 9.80888 7.06183 10.1781 6.81418Z' fill='%233F63F7'/%3E %3C/svg%3E");
    }

    .dropdown.show & {
      border-color: $input-border-color;
    }

    +.dropdown-menu {
      box-shadow: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
      border-color: $input-border-color;
      top: -2px !important;
    }
  }
}