// Form adjustments

// Rows
.form-row {
  margin-right: -10px;
  margin-left: -10px;
}

.form-row>.col,
.form-row>[class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

// group
.form-group {
  position: relative;
  margin-bottom: 1rem;
 
  input[type="text"].form-control,
  input[type="search"].form-control,
  input[type="url"].form-control,
  input[type="email"].form-control {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.required::before {
    content: '*';
    position: absolute;
    top: $input-padding-y;
    right: $input-padding-x;
    color: $warning;
    font-size: $font-size-lg;
    line-height: 0;
    z-index: 5;
  }

  &.required:not([class*="col"])::before {
    margin-right: -10px;
  }
}

// Custom controls
.custom-control-label {
  color: $gray-light;
}

// Field
.form-control {
  box-shadow: none !important;
  height: auto;
  position: relative;
  z-index: 3;

  &::-ms-clear,
  &::-ms-expand {
    display: none;
  }

  .select & {
    background-repeat: no-repeat;
    background-position: center right calc(2.375rem / 4);
    background-size: calc(2.375rem / 2) calc(2.375rem / 2);
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M5.48 6a.618.618 0 01-.412-.171L1.19 2.077a.63.63 0 01-.016-.885.62.62 0 01.879-.018L5.5 4.51l3.447-3.336a.62.62 0 01.88.018.63.63 0 01-.017.885L5.932 5.83a.618.618 0 01-.451.17z' fill='%23D5D5D5' fill-rule='nonzero' stroke='%23D5D5D5' stroke-width='.3'/%3E %3C/svg%3E");
    padding: $input-padding-y ($input-padding-x * 2) $input-padding-y $input-padding-x;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus:not(.readonly) {
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M5.48 6a.618.618 0 01-.412-.171L1.19 2.077a.63.63 0 01-.016-.885.62.62 0 01.879-.018L5.5 4.51l3.447-3.336a.62.62 0 01.88.018.63.63 0 01-.017.885L5.932 5.83a.618.618 0 01-.451.17z' fill='%233F63F7' fill-rule='nonzero' stroke='%233F63F7' stroke-width='.3'/%3E %3C/svg%3E");
    }

    &.empty {
      color: $gray-light;
      padding-top: $input-padding-y;
      padding-bottom: $input-padding-y;
    }
  }

  &[readonly] {
    border-color: $input-border-color-disabled;
  }

  &:focus {
    &[readonly] {
      border-color: $input-border-color-disabled;
    }

    z-index: 4;
  }

  &[plaintext] {
    padding-bottom: 0;
  }

}

// Checkbox
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background: $white;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%233F63F7' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

// Date
.form-control[type="date"]:before {
  content: attr(placeholder) !important;
  color: $gray-light;
  margin-right: 0.5em;
}

.form-control[type="date"]:focus:before,
.form-control[type="date"]:valid:before {
  display: none;
}

.form-control[type="date"]:invalid::-webkit-datetime-edit {
  color: $gray-light;
}

// Numbers
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// Select
select.form-control option[value=""] {
  color: $gray-light;
}

// Border color
.custom-control-label::before,
.custom-file-label,
.custom-select,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  border-color: $border-color;
}

// Disabled
.form-control:disabled,
.form-control[readonly] {
  background: $white;
}

// Errors
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none;
  padding-right: $input-btn-padding-x;
}

.was-validated .form-control:valid:not(.is-invalid),
.form-control.is-valid,
.was-validated .form-control:valid:not(.is-invalid):focus,
.form-control.is-valid:focus {
  border-color: $border-color;
}

.was-validated .form-control:focus:valid:not(.is-invalid),
.form-control.is-valid,
.was-validated .form-control:focus:valid:not(.is-invalid):focus,
.form-control.is-valid:focus {
  border-color: $primary;
}

.was-validated .form-control:invalid,
.was-validated .form-control.is-invalid,
.form-control:focus.is-invalid,
.form-control.is-invalid,
.form-control.is-invalid:focus,
.was-validated .form-control:valid.is-invalid {
  border-color: $danger;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,
.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before {
  border-color: $border-color;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}
.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before {
  border-color:$primary;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $success;
  background-color: $success;
  box-shadow: $box-shadow-heavy;
}
.custom-control-input ~ .custom-control-label::before, .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: $warning;
  background-color: $warning;
  box-shadow: $box-shadow-heavy;
}
.custom-switch .custom-control-label::after {
  background-color: $white;
}

.custom-control-input[type=radio]:checked ~ .custom-control-label::before {
  border-color: $primary;
  background-color: $primary;
}
.custom-control-input[type=radio]:not(:checked) ~ .custom-control-label::after, .custom-control-input[type=radio]:not(:checked) ~ .custom-control-label::before {
  border-color: $primary;
  background-color: transparent;
}

.bg-lightblue{
  background-color: $light-blue !important;
  border-color: $gray-almost-white;
}
.input-italic .form-control::-moz-placeholder {
  font-style: italic;
}
.input-italic .form-control:-ms-input-placeholder {
  font-style: italic;
}
.input-italic .form-control::-webkit-input-placeholder {
  font-style: italic;
}
