// General navbar adjustments

.navbar-light .navbar-brand {
  font-weight: $navbar-brand-font-weight;
  color: $navbar-brand-color;
}

.navbar-light .navbar-nav .nav-link,
.nav-link {
  font-size: $nav-link-font-size;
  font-weight: $nav-link-font-weight;
  color: $nav-link-color;

  &-icon {
    color: $nav-link-icon-color;

    &__wrapper {
      position: relative;
    }

    i {
      font-size: $nav-link-icon-font-size;
    }
  }

  @include hover-focus {
    color: $nav-link-hover-color;

    i {
      color: $nav-link-hover-color;
    }
  }
}

.navbar-light .navbar-text {
  display: flex;
  a,
  a:hover,
  a:nav,
  a:focus {
    color: $primary;
  }
  a:focus {
    text-decoration: none;
  }
}