// Bootstrap Overrides

// Grays colors
$white: #fff !default;
$gray-almost-white: #E9E9E9 !default;
$gray-lightest: #D5D5D5 !default;
$gray-lighter: #909090 !default;
$gray-light: #898989 !default;
$gray-medium: #787878 !default;
$gray-blue-light: #A5B5B9 !default;
$gray-blue: #6C7792 !default;
$gray-dark: #222222 !default;
$gray-darker: #121212 !default;
$black: #000 !default;

$disabled-gray: #FBFBFB;

$gray-100: $gray-almost-white;

// Theme colors
$primary: #3F63F7 !default;
$primary-hover: #4E70F8 !default;
$primary-nav: #5638FF !default;
$secondary: rgba($black, 0.10) !default;
$warning: #F16203 !default;
$danger: #ED5555 !default;
$success: #2ECC91 !default;
$light: #F9FAFF !default;

// Misc colors
$border-color: #D8D8D8;
$border-color-light: #EEEDED;
$body-background-color: #FFF;

//Tables
$thGray: #E6E6E6;
$thText: #777777;

// Border radius
$border-radius: 0.1875rem !default;
$border-radius-lg: $border-radius !default;
$border-radius-sm: $border-radius !default;

// Easings
$ease-in-out-circ: cubic-bezier(.27, .01, .38, 1.06);

// Transitions
$transition-duration: 250ms;
$transition-base: all $transition-duration $ease-in-out-circ !default;
$transition-fade: opacity 200ms ease-in-out !default;
$transition-collapse: height 350ms ease-in-out !default;

// Cards
$card-cap-bg: $white;

// Typography & Fonts
$font-family-base: "Lato";

// Disable Google Fonts imports
$enable-fonts-import: false;

// Use the System UI font instead of Poppins.
$font-family-poppins-first: "GT America Extended";

// Headers
$headings-color: $black;

// Body
$body-background: $body-background-color;
$body-color: $gray-darker;
$body-font-size: 0.875rem;

$font-size-tiny: 0.5rem;
$font-size-sm: 0.75rem;
$font-size-lg: 1.125rem;

// Buttons
$btn-font-size: $body-font-size;
$btn-font-weight: 400;
$btn-border-radius: $border-radius;
$btn-padding-y: 0.9375rem;
$btn-padding-x: 1.875rem;
$btn-disabled-opacity: .54;
$btn-link-disabled-color: $gray-blue;

$btn-font-size-sm: $body-font-size;
$btn-padding-y-sm: 0.4286rem;
$btn-padding-x-sm: 0.875rem;
$btn-border-radius-sm: $border-radius;


// Inputs
$input-color: $gray-dark;
$input-btn-padding-y: 0.4375rem;
$input-btn-padding-x: 0.75rem;

$input-group-padding-y: 0.75rem;
$input-group-padding-x: 0.625rem;

// Forms
$input-font-size: $body-font-size;
$input-padding-y: 0.9375rem;
$input-padding-x: 0.9375rem;
$input-border-radius-lg: $border-radius;

$custom-select-line-height: 1.5;

$input-padding-x-sm: 0.625rem;

$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius;
$input-focus-border-color: $primary;
$input-focus-box-shadow: none;

$custom-select-border-radius: $border-radius;

$custom-file-border-radius: $border-radius;

// Navs
$nav-link-padding-x: 0.625rem;

// Navbar brand
$navbar-brand-font-size: 0.9rem;

// Dropdowns
$dropdown-padding-y: 10px;
