// Popover adjustments

.popover {
  box-shadow: $box-shadow;
  border: 1px solid $border-color;

  &:not(.white) {
    background: $primary-light;
  }
}

.popover-body {
  padding: 0.75rem;
  min-width: 5rem;
}

.bs-popover-top,
.bs-popover-bottom {

  .arrow {
    bottom: calc((0.75rem + 1px) * -1);
    width: 3rem;
    height: 0.75rem;
  }
}

.bs-popover-top {
  margin-bottom: 1rem;

  .arrow {
    margin-left: -0.75rem !important;

    &::before,
    &::after {
      border-width: 0.75rem 3em 0;
    }

    &::before {
      border-top-color: $border-color;
    }
  }

  &:not(.white) {
    .arrow::after {
      border-top-color: $primary-light;
    }
  }

  &.white {
    .arrow::after {
      border-top-color: $white;
    }
  }

}

.bs-popover-right {
  margin-left: 1rem;

  .arrow {
    &::before {
      border-right-color: $border-color;
    }
  }

  &:not(.white) {
    .arrow::after {
      border-right-color: $primary-light;
    }
  }

  &.white {
    .arrow::after {
      border-right-color: $white;
    }
  }

}

.bs-popover-bottom {
  margin-top: 1rem;

  .arrow {
    margin-left: -1.5rem !important;

    &::before,
    &::after {
      border-width: 0 3rem 0.5rem 3rem;
    }

    &::before {
      border-bottom-color: $border-color;
    }
  }

  &:not(.white) {
    .arrow::after {
      border-bottom-color: $primary-light;
    }
  }

  &.white {
    .arrow::after {
      border-bottom-color: $white;
    }
  }

}

.bs-popover-left {
  margin-right: 1rem;

  .arrow {
    &::before {
      border-left-color: $border-color;
    }
  }

  &:not(.white) {
    .arrow::after {
      border-left-color: $primary-light;
    }
  }

  &.white {
    .arrow::after {
      border-left-color: $white;
    }
  }

}
