// Reboot adjustments

// HTML
html {
  font-size: 16px;
  font-weight: 500;

  // Adjust font sizes for 144dpi+ (including retina).
  @media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
    font-size: 16px;
    font-weight: 400;
  }
}


// Body
body {
  background: $body-background;
  font-size: 14px;
  font-weight: 400;
}


// Links
a {
  color: $primary;

  @include hover {
    color: darken($primary, 15%);
  }
}

// Labels
label {
  font-weight: 400;
}

// Strong / Bold
strong, b {
  font-weight: normal;
  font-weight: 700;
}

// headers
h1, h3, h4, h5 {
  font-weight: 500;
}
h1 {
  font-size: 1.875rem;
  font-weight: 600;
  font-family: $font-family-accent;
}
h2 {
  font-size: 1.625rem;
  font-weight: 600;
  font-family: $font-family-accent;
}
h3 {
  font-family: $font-family-accent;
  font-weight: 500;
  font-size: 1.313rem;
}
h4 {
  font-size: $font-size-lg;
  font-weight: 500;
}
h5 {
  font-size: 1rem;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.5;
  color: $body-color;
}

// Reset font
pre, code, kbd, samp {
  font-family: $font-family-base;
  font-size: $body-font-size;
}

// Autocomplete reset
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  font-weight: inherit;
}

// Scroll bar reset
.overflow-auto {
  -ms-overflow-style: auto;
}