// Table Adjustments

.table {
  margin: 0;
  &-bordered {
    border: 0;
  }
  th,
  td {
    border-color: $border-color-light;
  }
  td{
    color: $gray-dark;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    vertical-align: middle;
  }
  thead {
    th {
      border: 0;
      font-weight: 400;
      background-color: $thGray;
      color: $thText;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;
    }
  }

  &-responsive {
    padding-right: 1px;
  }

  &.table-hover tbody {
    tr:not(.disabled) {
      cursor: pointer;
    }
    tr.no-hover:hover {
      background: none transparent;
    }
    tr:not(.no-hover):hover {
      background: rgba($border-color, 0.10);
    }
  }
}

.headborder {
  &.table-bordered {
    thead {
      th {
        border:1px solid $thGray;
      }
    }
  }
}
