// Text color adjustments
$text-light-color: $gray-blue !default;

// Text font weights
$text-semibold-font-weight: 400 !default;

// Cards
$card-headings-font-weight: 500 !default;

// Forms
$custom-control-disabled-color: #becad6 !default;

// Navbar
$navbar-brand-color: $primary !default;
$navbar-brand-font-weight: 500 !default;

// Nav
$nav-link-color: $gray-blue !default;
$nav-link-icon-color: $nav-link-color !default;
$nav-link-hover-color: $black !default;
$nav-link-icon-font-size: 1.25rem !default;
$nav-link-material-icons-font-size: 1.5625rem !default;
$nav-link-font-size: 0.8125rem !default;
$nav-link-font-weight: 400 !default;

// Main Navbar
$main-navbar-height: 6rem !default;
$main-navbar-box-shadow: 0 0.125rem 0.625rem rgba(90, 97, 105, .12) !default;
$main-navbar-nav-link-min-width: 3rem !default;
$main-navbar-actions-link-border: 1px solid #e3e6ec !default;
$main-navbar-nav-link-icon-line-height: 2.5rem !default;
$main-navbar-brand-font-size: 1.1875rem !default;

// Header Navigation
$header-navbar-icon-font-size: $body-font-size !default;
$header-navbar-icon-margin-right: 0.125rem !default;
$header-navbar-dropdown-nav-link-padding-right: 1.25rem !default;

$header-navbar-nav-link-color: $primary !default;
$header-navbar-nav-link-border: none !default;
$header-navbar-nav-link-padding: 1.125rem 0 !default;
$header-navbar-nav-link-margin-right: 1.25rem !default;
$header-navbar-nav-link-line-height: 1 !default;
$header-navbar-nav-link-border-radius: 0 !default;
$header-navbar-nav-link-font-size: 0.8125rem !default;
$header-navbar-nav-link-background: transparent !default;
$header-navbar-nav-link-border-bottom: 1px solid transparent !default;

// Vertical navbar
$vertical-navbar-width: 70px;
$vertical-navbar-width-expanded: 250px;
$vertical-navbar-offset: 180px;
$vertical-navbar-will-change: transform !default;
$vertical-navbar-transition: transform 200ms ease-in-out !default;

// Mobile menu
$mobile-menu-height: 6.25rem !default;

// Main sidebar
$main-sidebar-height: calc(100vh) !default;
$main-sidebar-background: #F9FAFC !default;

// Pagination
$pagination-height: 4.5rem !default;

// Forms
$input-padding-y:                $input-btn-padding-y !default;
$input-padding-x:                $input-btn-padding-x !default;
$input-line-height:              1.5 !default;

$input-padding-y-sm:             $input-btn-padding-y-sm !default;
$input-padding-x-sm:             $input-btn-padding-x-sm !default;
$input-line-height-sm:           1.5 !default;

$input-padding-y-lg:             $input-btn-padding-y-lg !default;
$input-padding-x-lg:             $input-btn-padding-x-lg !default;
$input-line-height-lg:           1.5 !default;

$input-bg:                       $white !default;
$input-disabled-bg:              #f5f6f7 !default;

$input-font-size:                .95rem !default;

$input-color:                    $gray-700 !default;
$input-border-color:             $border-color !default;
$input-border-color-disabled:    rgba(204, 210, 228, 0.3);
$input-btn-border-width:         $border-width !default;
$input-box-shadow:               none !default;

$input-border-width:             $border-width !default;
$input-border-radius:            $border-radius !default;
$input-border-radius-lg:         $border-radius-lg !default;
$input-border-radius-sm:         $border-radius-sm !default;

$input-focus-bg:                 $input-bg !default;
$input-focus-border-color:       theme-color("primary") !default;
$input-focus-box-shadow:         0 .313rem .719rem rgba(theme-color("primary"),.1), 0 .156rem .125rem rgba($black, .06) !default;
$input-focus-color:              $input-color !default;

$input-hover-border-color:      darken($input-border-color, 15) !default;

$input-placeholder-color:        $gray-600 !default;

$input-height-border:           $input-border-width * 2 !default;

$input-height-inner:            ($input-font-size * $input-line-height) + ($input-padding-y * 2) !default;
$input-height:                  calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-height-inner-sm:         ($font-size-sm * $input-line-height-sm) + ($input-padding-y-sm * 2) !default;
$input-height-sm:               calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;

$input-height-inner-lg:         ($font-size-lg * $input-line-height-lg) + ($input-padding-y-lg * 2) !default;
$input-height-lg:               calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

$input-transition:              box-shadow $transition-duration $ease-in-out-circ,
                                border $transition-duration $ease-in-out-circ !default;

$form-text-margin-top:     .25rem !default;

$form-check-input-gutter:   1.25rem !default;
$form-check-input-margin-y: .313rem !default;
$form-check-input-margin-x: .313rem !default;

$form-check-inline-margin-x: .75rem !default;
$form-check-inline-input-margin-x: .3125rem !default;

$form-group-margin-bottom:       1rem !default;

$input-group-padding-y:          12px !default;
$input-group-padding-x:          14px !default;
$input-group-addon-bg:           $white !default;
$input-group-addon-border-color: $input-border-color !default;
$input-group-addon-color:        $input-frozen-color !default;

// UI
$box-shadow:                     0 0 8px 0 rgba($black, 0.04);
$box-shadow-heavy:               0 0.5rem 4rem rgba($black, .11), 0 10px 20px rgba($black, .05), 0 2px 3px rgba($black, .06);
$box-shadow-light:               0 0.5rem 2rem rgba($black, .11), 0 3px 10px rgba($black, .05), 0 2px 3px rgba($black, .06);

// Error(s) templates
$splash-tpl-content-padding: 0 0.9375rem !default; // 0,15px

$splash-tpl-content-heading-color: $gray-lighter !default;
$splash-tpl-content-heading-font-weight: 700 !default;
$splash-tpl-content-heading-font-size: 3.75rem !default; // 60px
$splash-tpl-content-heading-margin-bottom: 1.5625rem !default; // 25px

$splash-tpl-content-subheading-font-weight: 500 !default;
$splash-tpl-content-subheading-font-size: 2.1875rem !default; // 35px
$splash-tpl-content-subheading-margin-bottom: 0.625rem !default; // 10px

$splash-tpl-content-paragraph-color: $gray-blue !default;