// Borders adjustments

.border-top {
  border-top: 1px solid $border-color !important;
}

.borer-top-0 {
  border-top: 0 !important;
}

.border-right {
  border-right: 1px solid $border-color !important;
}

.borer-right-0 {
  border-right: 0 !important;
}

.border-bottom {
  border-bottom: 1px solid $border-color !important;
}

.borer-bottom-0 {
  border-bottom: 0 !important;
}

.border-left {
  border-left: 1px solid $border-color !important;
}

.borer-left-0 {
  border-left: 0 !important;
}

// Radius adjustments
.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-bottom-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-tl {
  border-top-left-radius: $border-radius !important;
}

.rounded-tl-0 {
  border-top-left-radius: 0 !important;
}

.rounded-tr {
  border-top-right-radius: $border-radius !important;
}

.rounded-tr-0 {
  border-top-right-radius: 0 !important;
}

.rounded-bl {
  border-bottom-left-radius: $border-radius !important;
}

.rounded-bl-0 {
  border-bottom-left-radius: 0 !important;
}

.rounded-br {
  border-bottom-right-radius: $border-radius !important;
}

.rounded-br-0 {
  border-bottom-right-radius: 0 !important;
}