// General utilities

// Overflow helpers
.overflow {
  &-hidden {
    overflow: hidden;
  }

  &-visible {
    overflow: visible;
  }

  &-scroll {
    overflow: scroll;
  }

  &-auto {
    overflow: auto;
  }
}

// Remove shadows
.no-shadow {
  box-shadow: none !important;
}

// Links
a:hover .lnk,
.btn-link:hover .lnk {
  text-decoration: underline;
}

// Margins
.mt-40 {
  margin-top: 2.5rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.ml-40 {
  margin-left: 2.5rem;
}