// General utilities

// Overflow helpers
.overflow {
  &-hidden {
    overflow: hidden;
  }

  &-visible {
    overflow: visible;
  }

  &-scroll {
    overflow: scroll;
  }

  &-auto {
    overflow: auto;
  }
}

// Remove shadows
.no-shadow {
  box-shadow: none !important;
}

// Remove underline
.no-underline {
  text-decoration: none !important;
}

// Links
a:hover .lnk,
.btn-link:hover .lnk {
  text-decoration: underline;
}

// Hover background color
a.hover-bg {
  transition: background-color $transition-duration $ease-in-out-circ;

  &:hover {
    background: $border-color;
  }
}

// Opaque link
a.opaque {
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

// overlay that is centered
.centered-overlay {
  top: 0;
  left: 0;
}

// disabled overlay
.disabled-overlay {
  top: 0;
  left: 0;
  background: rgba($white, 0.5);
  z-index: 1005;

  .message {
    background: rgba($black, 0.5);
  }
}

// default cursor {
.cursor-pointer {
  cursor: pointer !important;
}

// default cursor {
.cursor-default {
  cursor: default !important;
}

// break word
.text-break {
  word-break: break-word;
  word-wrap: break-word;
}

// opacity 100%
.opacity-100 {
  opacity: 1;
}

// opacity 75%
.opacity-75 {
  opacity: 0.75;
}

// opacity 50%
.opacity-50 {
  opacity: 0.50;
}

// opacity 25%
.opacity-25 {
  opacity: 0.25;
}

// opacity 0%
.opacity-0 {
  opacity: 0;
}

// shadow
.shadow {
  box-shadow: $box-shadow !important;
}

// position top
.position-top {
  top: 0;
}

// position right
.position-right {
  right: 0;
}

// position bottom
.position-bottom {
  bottom: 0;
}

// position left
.position-left {
  left: 0;
}

// Custom scrollbar
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $primary-light;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
  }
}