// General utilities

// Overflow helpers
.overflow {
  &-hidden {
    overflow: hidden;
  }

  &-visible {
    overflow: visible;
  }

  &-scroll {
    overflow: scroll;
  }

  &-auto {
    overflow: auto;
  }
}

// Remove shadows
.no-shadow {
  box-shadow: none !important;
}

// Links
a:hover .lnk,
.btn-link:hover .lnk,
.btn-link.important,
a.important {
  text-decoration: underline;
}

// disabled overlay
.disabled-overlay {
  top: 0;
  left: 0;
  background: rgba($white, 0.7);
  z-index: 5;
  .content {
    background: rgba($black, 0.7);
  }
}

.min-vh-50{
  min-height: $min-height-50;
}