// Text utilities adjustments

// Light text
.text-light {
  color: $info !important;
}

// Ultra light text
.text-ultra-light {
  color: $input-border-color !important;
}

// Primary dark
.text-primary-dark {
  color: $primary-dark !important;
}

// Semibold text
.text-semibold {
  font-weight: $text-semibold-font-weight !important;
}

// 3XL text
.text-xxxl {
  font-size: $font-size-xxxl !important;
}

// 2XL text
.text-xxl {
  font-size: $font-size-xxl !important;
}

// XL text
.text-xl {
  font-size: $font-size-xl !important;
}

// Large text
.text-lg {
  font-size: $font-size-lg !important;
}

// Regular text
.text-reg {
  font-size: $body-font-size !important;
}

// Small text
.text-sm {
  font-size: $font-size-sm !important;
}

// Exra small
.text-xs {
  font-size: $font-size-xs !important;
}

// Add underline
.text-underline {
  text-decoration: underline !important;
}

// Meta link
.text-info-link {
  color: $info !important;

  &:hover {
    color: $primary !important;
  }
}

// Ellipsis
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Yellow text
.text-caution {
  color: $caution !important;
}

// Success dark text
.text-success-dark {
  color: $success-dark !important;
}

// Strikethrough text
.text-strikethrough {
  text-decoration: line-through !important;
}